@{
    ViewData["Title"] = "Home Page";
}
<div>
    <input id="Quote" type="text" name="Quote" />
    <input id="Contributor" type="text" name="Contributor" />
    <input id="Submit" type="submit" value="Add New Quote" />
</div>