@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form method="post" asp-action="Index" asp-controller="Home">
        <input id="Quote" type="text" name="Quote" />
        <input id="Contributor" type="text" name="Contributor" />
        <input type="submit" value="Add New Quote" />
    </form>
</div>